In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\RAVI\OneDrive\Desktop\innomatics\ML\Alexa.csv",encoding="ISO-8859-8")
df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [3]:
encoding = [
    "ASCII",
    "UTF-8",
    "UTF-16",
    "UTF-32",
    "ISO-8859-1",
    "Windows-1252",
    "UTF-7",
    "UTF-EBCDIC",
    "UTF-16LE",
    "UTF-16BE",
    "UTF-32LE",
    "UTF-32BE",
    "ISO-8859-2",
    "ISO-8859-3",
    "ISO-8859-4",
    "ISO-8859-5",
    "ISO-8859-6",
    "ISO-8859-7",
    "ISO-8859-8",
    "ISO-8859-9",
    "ISO-8859-10",
    "ISO-8859-11",
    "ISO-8859-13",
    "ISO-8859-14",
    "ISO-8859-15",
    "ISO-8859-16",
    "KOI8-R",
    "KOI8-U",
    "GB2312",
    "GBK",
    "Shift_JIS",
    "EUC-JP"
]

In [15]:
encoding

['ASCII',
 'UTF-8',
 'UTF-16',
 'UTF-32',
 'ISO-8859-1',
 'Windows-1252',
 'UTF-7',
 'UTF-EBCDIC',
 'UTF-16LE',
 'UTF-16BE',
 'UTF-32LE',
 'UTF-32BE',
 'ISO-8859-2',
 'ISO-8859-3',
 'ISO-8859-4',
 'ISO-8859-5',
 'ISO-8859-6',
 'ISO-8859-7',
 'ISO-8859-8',
 'ISO-8859-9',
 'ISO-8859-10',
 'ISO-8859-11',
 'ISO-8859-13',
 'ISO-8859-14',
 'ISO-8859-15',
 'ISO-8859-16',
 'KOI8-R',
 'KOI8-U',
 'GB2312',
 'GBK',
 'Shift_JIS',
 'EUC-JP']

In [4]:
for i in encoding:
    try:
        pd.read_csv(r"C:\Users\RAVI\OneDrive\Desktop\innomatics\ML\Alexa.csv",encoding=i)
        print(i)
    except (UnicodeDecodeError,UnicodeError,LookupError):
        pass

ISO-8859-1
Windows-1252
ISO-8859-2
ISO-8859-3
ISO-8859-4
ISO-8859-5
ISO-8859-7
ISO-8859-8
ISO-8859-9
ISO-8859-10
ISO-8859-11
ISO-8859-13
ISO-8859-14
ISO-8859-15
ISO-8859-16
KOI8-R
KOI8-U

In [5]:
df

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
3145,5,30-Jul-18,Black Dot,"Perfect for kids, adults and everyone in betwe...",1
3146,5,30-Jul-18,Black Dot,"Listening to music, searching locations, check...",1
3147,5,30-Jul-18,Black Dot,"I do love these things, i have them running my...",1
3148,5,30-Jul-18,White Dot,Only complaint I have is that the sound qualit...,1
3149,4,29-Jul-18,Black Dot,Good,1

In [6]:
 df1 = df['verified_reviews'].to_frame()

In [7]:
df1

                                       verified_reviews
0                                         Love my Echo!
1                                             Loved it!
2     Sometimes while playing a game, you can answer...
3     I have had a lot of fun with this thing. My 4 ...
4                                                 Music
...                                                 ...
3145  Perfect for kids, adults and everyone in betwe...
3146  Listening to music, searching locations, check...
3147  I do love these things, i have them running my...
3148  Only complaint I have is that the sound qualit...
3149                                               Good

[3150 rows x 1 columns]

In [8]:
from nltk.sentiment import SentimentIntensityAnalyzer

In [9]:
sent = SentimentIntensityAnalyzer()

In [10]:
def feedback(text):
    if not isinstance(text, str):
        return "unknown"
    score =sent.polarity_scores(text)['compound']
    if score>=0.1:
        return "positive"
    elif score<= (-0.1):
        return "Negative"
    else:
        return "Neautral"

In [11]:
df1['verified_reviews'].apply(feedback)

0       positive
1       positive
2       Negative
3       positive
4       Neautral
          ...
3145    positive
3146    Neautral
3147    positive
3148    Neautral
3149    positive
Name: verified_reviews, Length: 3150, dtype: object

In [12]:
df1['Result'] = df1['verified_reviews'].apply(feedback).to_frame()

In [13]:
df1

                                       verified_reviews    Result
0                                         Love my Echo!  positive
1                                             Loved it!  positive
2     Sometimes while playing a game, you can answer...  Negative
3     I have had a lot of fun with this thing. My 4 ...  positive
4                                                 Music  Neautral
...                                                 ...       ...
3145  Perfect for kids, adults and everyone in betwe...  positive
3146  Listening to music, searching locations, check...  Neautral
3147  I do love these things, i have them running my...  positive
3148  Only complaint I have is that the sound qualit...  Neautral
3149                                               Good  positive

[3150 rows x 2 columns]

In [14]:
df1.loc[df1["Result"]=="positive","verified_reviews"]

0                                           Love my Echo!
1                                               Loved it!
3       I have had a lot of fun with this thing. My 4 ...
5       I received the echo as a gift. I needed anothe...
6       Without having a cellphone, I cannot use many ...
                              ...
3143           Awesome device wish I bought one ages ago.
3144                                              love it
3145    Perfect for kids, adults and everyone in betwe...
3147    I do love these things, i have them running my...
3149                                                 Good
Name: verified_reviews, Length: 2566, dtype: object

In [15]:
import pickle

In [16]:
!pip install pickle

ERROR: Could not find a version that satisfies the requirement pickle (from versions: none)
ERROR: No matching distribution found for pickle

In [17]:
#from nltk.sentiment import SentimentIntensityAnalyzer
#sent = SentimentIntensityAnalyzer()
pickle.dump(sent,open("estimator1.pkl","wb"))
model = pickle.load(open("estimator1.pkl","rb"))
model

In [68]:
import nltk

In [71]:
nltk.__version__

'3.8.1'